#Database config details
db_type = MySQL
db_host = ds-scec-db.tacc.utexas.edu
#db_host = moment.usc.edu
db_name = CyberShake
db_user = scec_public
db_password = nothing
#db_user = cybershk_ro
#db_password = CyberShake2007

#Seismogram config details
file_method = scp
study_paths = Study 22.12 LF:login2.stampede3.tacc.utexas.edu:/corral/projects/DS-Cybershake/Study_22.12_LF

