**/__pycache__
csdatarequest.IMs.json
csdatarequest.Seis.json
csdatarequest.site_name.json
tasks.json
csdatarequest.125026_25042023.query
csdatarequest.IMs.data
csdatarequest.IMs.query
csdatarequest.Seis.data
csdatarequest.Seis.query
csdatarequest.Seis.urls
csdatarequest.site_name.data
csdatarequest.site_name.query
csdata.*
.vscode/*
sample_event_list.csv
